/* responsive.css */

/* Mobile Styles (Default) */
@media (max-width: 536px) {

    body {
        padding: 20px;
    }

    header {
        flex-direction: column;
        padding: 10px;
        position: relative;
        display: none;
    }


    header p {
        padding: 10px;
        font-size: 1em;
    }

    .menu-icon {
        font-size: 2em;
        cursor: pointer;
        display: none;
    }

    #moko p{
        font-size: 22px;
    }

    #email, #phone, #youtube, #github, #instagram{
        display: none;
    }

    #moko{
        padding: 20px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    .menu a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    section {
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 50px;
    }

    .first, .second {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        flex-direction: row;
    }

    .overlay {
        background-color: rgba(240, 248, 255, 0);
        display: block;
        opacity: 0;
    }

    .adobe, .music, .photography, .programing {
        width: 100%;
        height: auto;
    }

    #adobe, #music, #photography, #programing {
        width: 140px;
        height: 140px;
    }

    .image-container:hover .overlay {
        opacity: 0;
    }

    .image-container {
        width: 100%;
    }

    .image-container p {
        display: block;
        font-family: tech;
    }

    #skills {
        flex-direction: column;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }

    nav {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #mobile-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 35%;
        height: fit-content;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.726);
        border-radius: 5px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
    }

    #mobile-menu a {
        padding: 10px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }

    #mobile-menu.show {
        display: flex;
        max-height: 300px;
    }

    #mobile-menu.show:hover {
        display: flex;
        max-height: 300px;
    }

    #Hi {
        border-top-left-radius: 0em;
    }

    i {
        margin-bottom: 20px;
    }


    #dearmamaa, #miama, #gcl {
        background-position: center;

    }
}


/* Tablet Styles */
@media (min-width: 768px) {
    #menu-icon {
        display: none;
    }

    header {
        flex-direction: row;
    }

    header p {
        font-size: 1.2em;
    }

    section {
        font-size: 2em;
    }

    .first, .second {
        width: 100%;
    }

    .adobe, .music, .photography, .programing {
        width: 100%;
    }

    .image-container {
        width: 50%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    body {
        padding: 40px;
    }

    header {
        flex-direction: row;
        padding: 20px;
    }

    header p {
        padding: 40px;
        font-size: 1.2em;
    }

    section {
        font-size: 3em;
        padding: 20px;
        margin-bottom: 100px;
    }

    .menu-icon {
        display: none;
    }

    .menu {
        display: flex !important;
        flex-direction: row;
        max-height: none;
    }


    .first, .second {
        width: 50%;
        margin-right: 30px;
    }

    .adobe, .music, .photography, .programing {
        width: 50%;
        height: 56.4vh;
    }

    .image-container {
        width: 270px;
    }

    #skills {
        flex-direction: row;
    }

    #menu-icon, #mobile-menu {
        display: none;
    }

}
