@font-face {
    font-family: messi;
    src: url(../assets/MessinaSans-Light.ttf);
}

@font-face {
    font-family: lovelo;
    src: url(../assets/Spotyfied\ Me.ttf);
}

@font-face {
    font-family: tech;
    src: url(../assets/OriginTech\ personal\ use.otf);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box
}

body {
    font-family: messi;
    background-image: url(https://siukokouu.netlify.app/images/kbd.jpg);
    background-position: center;
    color: white;
    padding: 40px;
    background-size: cover;
}

section {
    width: 100%;
    height: 740px;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.164);
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header p {
    padding: 40px;
    font-size: 1.2em;
}

header p:hover {
    padding: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #28a745;
    transition: 0.4s ease-in-out !important;
    cursor: pointer;
}

header img {
    padding: 40px;
    margin-right: 800px;
}

#Interested, #gclo, #fromafar, #Languages, #thestory, #skills, #moko {
    margin-bottom: 0em !important;
    padding-bottom: 0em !important;
}

#Hi, #Gift, #Interested {
    font-family: lovelo;

}

leg {
    color: #6bdb85;
    animation: animateee 5s linear infinite;
}

@keyframes animateee {
    100% {
        filter: hue-rotate(360deg);
    }
}

leg:hover {
    color: #836bdb;
}

#Giftstory, #thestory {
    font-family: lovelo;
}

#thestory {
    height: fit-content;
    font-size: 25px;
    flex-direction: column;
    text-align: left;
}

#skills {
    background-color: #28a74600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first, .second {
    height: 93vh;
    width: 50%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adobe, .music, .photography, .programing {
    background-color: rgba(128, 128, 128, 0.562);
    width: 50%;
    height: 56.4vh;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adobe, .photography {
    margin-bottom: 30px;
}

.first {
    align-items: flex-end;
}

.second {
    align-items: flex-start;
}

#adobe, #music, #photography, #programing {
    width: 270px;
    height: 260px;
    border-radius: 20px;
}

.image-container {
    position: relative;
    width: 270px;
    max-width: 300px;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: tech;
}

.image-container:hover .overlay {
    opacity: 1;
    border-radius: 20px;
}

.image-container p {
    display: none;
}

.gallary p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 40%;
}

section span {
    font-size: 1em;
    font-family: lovelo;
    color: rgb(193, 215, 255);
}


#dearmamaa, #miama, #gcl {
    display: flex;
    background-size: cover;
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
}

#dearmamaa {
    background-image: url(https://siukokouu.netlify.app/images/charity.png) !important;
}

#miama {
    background-image: url(https://siukokouu.netlify.app/images/design.png) !important;
}

#gcl {
    background-image: url(https://siukokouu.netlify.app/images/Artboard%201.png) !important;
}


#cat, #spidy, #chugga, #broos, #radioo, #flower, #twins, #schoolkid, #flower2, #thelights, #mwendokasi, #fromafar {
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: transparent;
    border-radius: 20px;
}

#cat {
    background-image: url(https://siukokouu.netlify.app/images/paka.jpeg) !important;
}

span #cat, #spidy, #broos {
    color: black !important;
}

#spidy {
    background-image: url(https://siukokouu.netlify.app/images/spider.jpg) !important;
}

#chugga {
    background-image: url(https://siukokouu.netlify.app/images/chugga.jpg) !important;
}

#broos {
    background-image: url(https://siukokouu.netlify.app/images/casfeta.jpg) !important;
}

#radioo {
    background-image: url(https://siukokouu.netlify.app/images/radio.jpg) !important;
}

#flower {
    background-image: url(https://siukokouu.netlify.app/images/kunduz.jpg) !important;
}

#twins {
    background-image: url(https://siukokouu.netlify.app/images/twins.JPG) !important;
}

#schoolkid {
    background-image: url(https://siukokouu.netlify.app/images/schooling\ .jpg) !important;
}

#flower2 {
    background-image: url(https://siukokouu.netlify.app/images/kunduz\ 2.jpg) !important;
}

#thelights {
    background-image: url(https://siukokouu.netlify.app/images/thelights.jpg) !important;
}

#mwendokasi {
    background-image: url(https://siukokouu.netlify.app/images/mwendokasi.jpg) !important;
}

#fromafar {
    background-image: url(https://siukokouu.netlify.app/images/fromafar.jpg) !important;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    50% {
        box-shadow: 0 0 20px #ff0;
    }

    100% {
        box-shadow: 0 0 5px #fff;
    }
}

.glow {
    animation: glow 1s infinite alternate;
}

#moko {
    height: fit-content;
    font-size: 2em;
    flex-direction: column;
    text-align: left;
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.menu a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.fa-bars {
    font-size: 1.5em;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

#back-to-top i {
    color: white;
    font-size: 0.7cm;
}

#back-to-top.show {
    opacity: 0.6;
}

#message {
    height: 260px;
    width: 400px;
    font-family: inherit;
    border-radius: 10px 10px;
    line-height: 2em;
    word-spacing: 0.1em;
    text-align: start;
    overflow-x: hidden;
    padding: 10px;
    background-color: rgb(188, 231, 231);
    font-size: 0.7em;

}

#moko button {
    font-family: inherit;
    font-size: 0.5em;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
}

#moko #left {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#moko #pp {
    display: flex;
    flex-direction: column;
}

#moko #right {
    padding-left: 50px;
}

#moko span {
    font-family: inherit;
    color: white;
    text-transform: uppercase;
    text-align: center;
}